* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 50vh;
    font-family: Arial, sans-serif;
    background-color: #607744;
    display: grid;
    
}

header {
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #1E2F23;
    color: #ffff;
    font-size: 10px;
    

}
.logo{
display: flex;
justify-content: center;
flex-direction: column;
position: absolute;
left: 27%;
right: 26%;
top: 30%;
bottom: 70%;
background: url(img/logo.jpg);
mix-blend-mode: multiply;

}

button {
    height: 60px;
    width: 250px;
    background-color: #1E2F23;
    color: #ffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    border-radius: 15px;
    border: none;


    
}
.button-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    height: 100vh;
    margin: 10%;
}


.button-container button {
    margin-bottom: 100px; 
    padding: 10px;  
}

main {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7,1fr);
    height: 80vh;
    justify-content: center;
    align-items: center;
   

}
.tool {
    width: 120%;
    display: flex;
    flex-direction: column;
    grid-column: 1;
    border:solid 5px #1E2F23;
    color: #1E2F23;
    padding: 50px;
    margin-top: 10px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    

}
.tool h4 p {
    align-items: center;
    justify-content: center;
    text-align: center;
    
    
}


.h-2{
    height: 7vh;
    color: #ffff;

}
.info{
    height: 85vh;
    text-align: center;
    margin-top: 10px;
}

.borrowed-container {
    
    height: 80vh;
    justify-content: center;
    color: #1E2F23;
    text-align: center;
    margin-top: 80px;
    

}


.B3{
    height: 80vh;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    color: #1E2F23;
    text-align: center;
    

}

.overview-button{
    background-color: #607744;
    height: 25px;
    width: 90px;
    margin-top: 20px;
    margin-right: 50%;
    border-radius: 5px;
    align-items: center;
}
.home-button{
    background-color: #607744;
    height: 25px;
    width: 90px;
    margin-top: 20px;
    margin-right: 75%;
    border-radius: 5px;
    align-items: center;
}

/*Översikt*/

.overview-main{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    & h2 {
        margin-top: 20px;
        color: #ffff;
    }
.loan{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    

    & .item {
        color: #ffff;
        border: 3px solid #1E2F23;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
        width: 300px;

         & h3 {
            margin-bottom: 5px;

         }

    }
}

}